/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@theme {
  --color-background: #ebf4fc;
  --color-foreground: #575757;
  --color-light-foreground: #C3C3C3;
  --color-primary: #5aafff;
  --color-light-primary: #baddfd;
  --color-secondary: #04a9ca;
  --color-light-secondary: #9ae9f9;
  --color-danger: #f3777a;
  --color-light-danger: #fececf;
  --color-warning: #f57e2c;
  --color-light-warning: #ffd7bc;
  --color-success: #69c9ca;
  --color-light-success: #9af8f9;
  --color-disable: #c4c3c3;
  --color-light-disable: #f4f4f4;
}

body {
	@apply bg-background text-foreground max-w-full overflow-x-hidden font-normal;
}

* {
  @apply transition duration-100;
}

@layer base {
  
}

@layer components {
  .button {
    @apply whitespace-nowrap cursor-pointer disabled:!text-disable disabled:!bg-light-disable;
    transform: scale(1);
    filter: brightness(0.95);
  }

  .button:disabled {
    cursor: default;
    pointer-events: none;
  }

  .button:hover {
    transform: scale(1.02);
    filter: brightness(1);
    box-shadow: 0 2px 5px 0 rgba(87, 87, 87, 0.15);
  }

  .button:active {
    transform: scale(1);
    filter: brightness(0.9);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .25);
  }

  .button-loading {
      border-radius: 50%;
      display: inline-block;
      border-top: 2.5px solid;
      border-left: 2.5px solid;
      border-right: 2.5px solid transparent;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  } 
}

@layer utilities {
  
}